@model IEnumerable<Bit8Assignment.Semester>
@{
    ViewBag.Title = "Semesters";
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table id="tblSemesters" class="table" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:100px">Semester Id</th>
            <th style="width:150px">Name</th>
            <th style="width:150px">Start Date</th>
            <th style="width:150px">End Date</th>
            <th style="width:200px">Disciplines</th>
            <th style="width:150px"></th>
        </tr>
        @foreach (Semester semester in Model)
        {
        <tr>
            <td class="Id">
                <span>@semester.Id</span>
            </td>
            <td class="Name">
                <span>@semester.Name</span>
                <input type="text" value="@semester.Name" style="display:none" />
            </td>
            <td class="StartDate">
                <span>@semester.StartDate</span>
                <input type="datetime" value="@semester.StartDate" style="display:none" />
            </td>
            <td class="EndDate">
                <span>@semester.EndDate</span>
                <input type="datetime" value="@semester.EndDate" style="display:none" />
            </td>
            <td class="DisciplinesList">
                @foreach (var sd in semester.SemesterDisciplineList)
                {
                    <span id="removeDiscipline">
                        <span style="width:200px">@sd.Discipline.DisciplineName</span>
                        <input class="btn btn-xs" type="button" id="btnRemoveDiscipline" value="Remove Discipline" />
                    </span>
                    <br />
                }
                @Html.DropDownListFor(x => semester.DisciplineID, semester.DisciplinesSelectList)
                <input class="btn btn-xs" type="button" id="btnAddDiscipline" value="Add Discipline" />
            </td>
            <td>
                <a class="Edit" href="javascript:;">Edit</a>
                <a class="Update" href="javascript:;" style="display:none">Update</a>
                <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                <a class="Delete" href="javascript:;">Delete</a>
            </td>
        </tr>
        }
    </table>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 150px">
                Name<br />
                <input type="text" id="txtName" style="width:140px" />
            </td>
            <td style="width: 150px">
                Start Date:<br />
                <input type="date" id="startDate" style="width:140px" />
            </td>
            <td style="width: 150px">
                End Date:<br />
                <input type="date" id="endDate" style="width:140px" />
            </td>
            <td style="width: 200px">
                <br />
                <input type="button" id="btnAdd" value="Add" />
            </td>
        </tr>
    </table>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $(function () {

            if ($("#tblSemesters tr").length > 2) {
                $("#tblSemesters tr:eq(1)").remove();
            } else {
                var row = $("#tblSemesters tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });
        function AppendRow(row, Id, name, startDate, endDate) {
            $(".Id", row).find("span").html(Id);
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);
            $(".StartDate", row).find("span").html(startDate);
            $(".StartDate", row).find("input").val(startDate);
            $(".EndDate", row).find("span").html(endDate);
            $(".EndDate", row).find("input").val(endDate);

            row.find(".Edit").show();
            row.find(".Delete").show();

            $("#tblSemesters").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtName = $("#txtName");
            var startDate = $("#startDate");
            var endDate = $("#endDate");
            var _semester = {};
            _semester.Name = txtName.val();
            _semester.startDate = startDate.val();
            _semester.endDate = endDate.val();
            _semester.DisciplinesList = $('#removeDiscipline').html('');
            $.ajax({
                type: "POST",
                url: "/api/AjaxAPI/InsertSemester",
                data: JSON.stringify(_semester),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblSemesters tr:last-child");
                    if ($("#tblSemesters tr:last-child span").eq(0).html() != "&nbsp;") {
                        row = row.clone();
                    }
                    AppendRow(row, r.Id, r.Name, r.startDate, r.endDate);
                    txtName.val("");
                    startDate.val("");
                    endDate.val("");
                }
            });
        });

        $("body").on("click", "#btnAddDiscipline", function () {
            var disciplineID = $(this).closest("tr").find("#semester_DisciplineID").find(":selected").val();            
            var semesterID = $(this).closest("tr").find(".Id").find("span").html();
            var Id = $(this).closest("tr").find(".Id").val();
            var _semesterDiscipline = {};
            _semesterDiscipline.SemesterID = semesterID;
            _semesterDiscipline.DisciplineID = disciplineID;
            console.log(disciplineID);
            $.ajax({
                type: "POST",
                url: "/api/AjaxAPI/InsertSemesterDiscipline",
                data: JSON.stringify(_semesterDiscipline),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblSemesters tr:last-child");
                    AppendRow(row, r.Id, r.semesterID, r.disciplineID);
                    disciplineID = "";
                    semesterID = "";
                }
            });
        });

        $("body").on("click", "#btnRemoveDiscipline", function () {
            var disciplineID = $(this).closest("tr").find("#semester_DisciplineID").find(":selected").val();
            var semesterID = $(this).closest("tr").find(".Id").find("span").html();
            var _semesterDiscipline = {};
            _semesterDiscipline.SemesterID = semesterID;
            _semesterDiscipline.DisciplineID = disciplineID;

            if (confirm("Do you want to delete this discipline?")) {
                var row = $(this).closest("tr");
                var _semesterDiscipline = {};
                _semesterDiscipline.SemesterID = semesterID;
                _semesterDiscipline.DisciplineID = disciplineID;
                $.ajax({
                    type: "POST",
                    url: "/api/AjaxAPI/DeleteSemesterDiscipline",
                    data: JSON.stringify(_semesterDiscipline),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#tblSemesters tr").length > 2) {
                            $(this).closest("tr").find("#removeDiscipline").hide();
                        }
                    }            
                });
                disciplineID = "";
                semesterID = "";
            }
        });

        //Edit event handler.
        $("body").on("click", "#tblSemesters .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
        $("body").on("click", "#tblSemesters .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
            var _semester = {};
            _semester.Id = row.find(".Id").find("span").html();
            _semester.Name = row.find(".Name").find("span").html();
            _semester.startDate = row.find(".StartDate").find("span").html();
            _semester.startDate = row.find(".StartDate").find("span").html(); 
            _semester.endDate = row.find(".EndDate").find("span").html();
            _semester.endDate = row.find(".EndDate").find("span").html();
            $.ajax({
                type: "POST",
                url: "/api/AjaxAPI/UpdateSemester",
                data: JSON.stringify(_semester),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblSemesters .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        $("body").on("click", "#tblSemesters .Delete", function () {
            if (confirm("Do you want to delete this row?")) {
                var row = $(this).closest("tr");
                var _semester = {};
                _semester.Id = row.find("span").html();
                $.ajax({
                    type: "POST",
                    url: "/api/AjaxAPI/DeleteSemester",
                    data: JSON.stringify(_semester),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#tblSemesters tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
